.div1{
    background-color: rgb(210, 18, 18);
}
.mainbackground{
    background-color: orange
}
.div2{
    background-color: rgb(210, 18, 18);
    font-size: 10mm;
}
.textarea{
  background-color: black;
  color: white;
}
.div3{
    background-color: rgb(210, 18, 18);
}
.div4{
    background-color: rgb(210, 18, 18);
}
.div5{
    background-color: rgb(210, 18, 18);
}
.div6{
    background-color: rgb(210, 18, 18);
}
p{
    color:black
}
h1{
    color: black;
};
h4{
    color:bl;
}